<section class="content">
<h2 class="center" >Bbaileys Template</h2>

<h2 class="center">Landing Page</h2>
  <form id="login-form" action="/user/login" method="POST" class="center">
    <label for="username-email">
      <input id="username-email" type="text" placeholder="Sign in.." autofocus required>
    </label><br>
    <label for="password">
      <input id="password" type="password" placeholder="Password" required>
    </label><br>
    <button id="sign-in" class="pure-button-xsmall pure-button" value="Sign In">Sign In</button>
  </form>

<div id="sign-up" class="center">
  <p>Not a member? <a href="/user/register">Sign Up!</a></p>
</div>
<div class="center">

</div>

</section>
